<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome Admin <%= user?.name %>
</p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>


<ul>
    <% for (const userName in session) { %>

        <% const element=session[userName]; %>
            <li>
                <%= element %>
            </li>


            <% } %>
</ul>